// Tema escuro
$background-color-dark: hsl(0, 0%, 7%);
$base-color-dark: #2f2f2f;
$azul-dark:#2185d0;
$vermelho-dark:#db2828;
$text-color-dark: #fff;
$box-shadow-color: #5b5b5b;
$field-text-color: #fff;

// Tema claro
$background-color: #d0d0d0;
$base-color-menu: #fff;
$base-color: #052d39;
$azul:#2185d0;
$vermelho:#db2828;
$text-color: #052d39;